<div data-ng-show="auth_error" class="alert alert-danger" role="alert">API Authentication Error</div>

<h2>Edit Customer</h2>

<form data-ng-submit="updateCustomer()" class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-md-2 control-label">NAME</label>
		<div class="col-md-4">
			<input type="text" id="name" class="form-control" data-ng-model="customer.name">
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.name">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.name }}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="street" class="col-md-2 control-label">STREET</label>
		<div class="col-md-4">
			<input type="text" id="street" class="form-control" data-ng-model="customer.street">
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.street">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.street }}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="city" class="col-md-2 control-label">CITY</label>
		<div class="col-md-4">
			<input type="text" id="city" class="form-control" data-ng-model="customer.city">
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.city">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.city }}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="state" class="col-md-2 control-label">STATE</label>
		<div class="col-md-4">
			<!-- TODO: Implement 'select' control and populate with JavaScript/jQuery -->
			<select id="state" class="form-control" data-ng-model="customer.state"
			 data-ng-options="key for (key, value) in stateOpts">
			</select>
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.state">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.state }}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="zipcode" class="col-md-2 control-label">ZIP CODE</label>
		<div class="col-md-4">
			<input type="text" id="zipcode" class="form-control" data-ng-model="customer.zipcode">
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.zipcode">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.zipcode }}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="home_phone" class="col-md-2 control-label">HOME PHONE</label>
		<div class="col-md-4">
			<input type="text" id="home_phone" class="form-control" data-ng-model="customer.home_phone">
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.home">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.home }}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="work_phone" class="col-md-2 control-label">WORK PHONE</label>
		<div class="col-md-4">
			<input type="text" id="work_phone" class="form-control" data-ng-model="customer.work_phone">
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.work">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.work }}</span>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="col-md-2 control-label">EMAIL</label>
		<div class="col-md-4">
			<input type="text" id="email" class="form-control" data-ng-model="customer.email">
		</div>
		<!-- Logic to determine if validation error should be displayed -->
		<div class="col-md-6" data-ng-show="resp_data.errormsgs.email">
			<span class="control-label validation-err" >* {{ resp_data.errormsgs.email }}</span>
		</div>
	</div>
	
	<input type="submit" id="submit" value="Save Changes" class="btn btn-primary" />
	<a class="btn btn-default" href="#" role="button">Cancel</a>
</form>
