<div data-ng-show="login_error" class="alert alert-danger" role="alert">{{ login_error_text }}</div>

<h2>Login</h2>

<form data-ng-submit="login()" class="form-horizontal">

	<div class="form-group">
		<div class="text-left col-md-1">
			<label for="email" class="control-label">EMAIL</label>
		</div>
		<div class="col-md-3">
			<input type="email" id="email" class="form-control" data-ng-model="email">
		</div>
	</div>

	<div class="form-group">
		<div class="text-left col-md-1">
			<label for="password" class="control-label">PASSWORD</label>
		</div>
		<div class="col-md-3">
			<input type="password" id="password" class="form-control" data-ng-model="password">
		</div>
	</div>

	<input type="submit" id="submit" value="Login" class="btn btn-primary" />
</form>
