			<!-- *** 'Add/Remove Images' page content *** -->
			<div id="add-remove-images">
				<div class="col-md-8 col-md-offset-4">
					<h2>Add/Remove Images</h2>
					<p>This page uses jQuery to:
						<ul>
							<li>Load the image div HTML from a separate file.</li>
							<li>Add individual image divs to a container div.</li>
							<li>Remove individual image divs from the container div.</li>
							<li>Reset the page by removing all image divs from the container div.</li>
						</ul>
					</p>
					<button id="add-image" class="btn btn-default" type="button" data-ng-click="addImage()">Add Image</button>
					<button id="reset-page" class="btn btn-default" type="button" data-ng-click="resetPage()">Reset Page</button>
				</div>
				<div id="images-div">
					<div class='image-container' data-ng-repeat='image_number in image_numbers track by $index'>
						<div class='clearfix'>
							<span class='image-title'>Image {{ image_number }}</span>
							<button class='btn btn-info btn-xs pull-right' type='button'
							 data-toggle='tooltip' data-placement='right' title='Remove Image' data-ng-click='removeImage()'>X</button>
						</div>
						<img src='/custom_directives/assets/images/jquery-icon.jpg' alt='jQuery icon'></img>
					</div>
				</div>
			</div><!-- #add-remove-images -->
